.git
.gitignore
.vscode
.idea
*.swp

__pycache__
*.pyc
*.pyo
*.pyd

venv
.venv
env
.env_local

.env
.env.*
*.local
secrets.yaml

Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore

*.log
.pytest_cache
.coverage
htmlcov
tests/
README.md