services:
  app:
    build: .
    container_name: email_microservice
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mailhog
    volumes:
      - ./src:/app/src

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog_server
    ports:
      - "1025:1025"
      - "8025:8025"