x-common-env: &common-env
  DATABASE_URL: ${DATABASE_URL}
  RABBITMQ_URL: ${RABBITMQ_URL}

services:
  app:
    image: ${IMAGE_NAME}:latest
    container_name: email_microservice
    restart: always
    ports:
      - "8000:8000"
    environment:
      <<: *common-env
      INIT_DB: ${INIT_DB}
    depends_on:
      db:
        condition: service_healthy

  worker:
    build: .
    command: python -m src.worker
    environment:
      <<: *common-env
      FERNET_KEY: ${ENCRYPTION_KEY}
    depends_on:
      - db
      - rabbitmq
    networks:
      - default

  db:
    image: postgres:15-alpine
    container_name: email_db
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
    networks:
      - default

volumes:
  postgres_data: